.blog-component__post-leaf {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  transition: all 0.8s ease-in-out;
}

.blog-component__post-leaf * {
  overflow: hidden;
}

.blog-component__post-leaf:hover .blog-component__post-leaf__img-container img {
  transform: scale(1.1) rotate(2.5deg);
}

.blog-component__post-leaf__img-container,
.blog-component__post-leaf__img-container img {
  overflow: visible !important;
}

.blog-component__post-leaf__space {
  width: 45px;
}

.blog-component__post-leaf__img-container img {
  transition: all 0.5s ease-in-out;
}

.blog-component__post-leaf__title {
  font-family: "Pacifico", cursive;
  padding-left: 4px;
  padding-bottom: 2px;
  color: gold;
  text-shadow: 0px 0px 3px rgba(1, 1, 1, 1);
}

.blog-component__post-leaf__subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-family: "Potta One", cursive;
  color: steelblue;
}

.blog-component__post-leaf__details-detail {
  color: gray;
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.blog-component__post-leaf__author {
  margin-right: 25px;
}

.blog-component__post-leaf__hr {
  margin: 20px 0px;
  border-bottom: 0.1px solid gray;
  border-top: 0.1px solid gray;
}
