.blog-layout__post {
  margin: 15px 10vw;
}

.blog-layout__post__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0px;
}

.blog-layout__post__title {
  font-family: "Pacifico", cursive;
  font-size: 45px;
  color: bisque;
  text-shadow: 2px 2px 2px rgb(248, 195, 23);
}

.blog-layout__post__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blog-layout__post__box-details {
    margin-left: 35px;
    font-weight: bold;
    color: gray;
}

.blog-layout__post__content {
    margin: 50px 0px;
}

.blog-layout__post__content h2 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
}

.blog-layout__post__content h3 {
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    padding-bottom: 20px;
}

.blog-layout__post__content p {
    font-family: 'Rancher', cursive;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
